/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #387adf, #5500cc);
}

.payment-container {
  max-width: 720px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.payment-container .payment-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.payment-wrapper .section-title {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.payment-wrapper label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.payment-wrapper input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 12px;
  border-radius: 5px;
  border: 2px solid #d2d2d2;
  outline: none;
  margin-bottom: 15px;
}

.payment-wrapper input:focus {
  border-color: #387adf;
}

.payment-wrapper input:focus::-webkit-input-placeholder {
  color: #387adf;
  opacity: 0.5;
}

.payment-wrapper .input-group {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.payment-wrapper .card-images {
  margin-bottom: 15px;
  display: flex;
  gap: 12px;
}

.payment-wrapper .card-images .card-icon {
  width: 60px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.payment-container .button {
  width: 100%;
  height: 40px;
  background: #387adf;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.payment-container .button:hover {
  background: #5500cc;
}

/* Making Paymetn Gateway Responsive */
@media screen and (max-width: 768px) {
  .payment-container {
    max-width: 90%;
    padding: 30px 12px;
    margin: 20px 0;
  }

  .payment-container .payment-wrapper {
    flex-direction: column;
  }

  .payment-wrapper .card-images .card-icon {
    width: 50px;
  }
}